

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 77px;
    height: 100%;
    font-family: Arial;
}

.info_title {
    font-weight: 100;
}

.info_form {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.info_input_long {
    text-align: center;
    width: 520px;
    height: 25px;
    display: block;
    margin: 10px;
}

.info_input_short {
    text-align: center;
    width: 320px;
    height: 25px;
    display: block;
    margin: 10px;
}
