body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 364px;
    background-image: url("images/11.png");
 
}

.popup {
    padding: 18px 28px;
    position: absolute;
    top: 128px;
    left: 64px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
    height: 180px;
    width: 294px;
}

    .popup p:nth-child(2) {
        font-size: 16px;
        color: #626262;
        margin: 150px -288px
    }

    .popup p:nth-child(3) {
        font-size: 16px;
        color: aliceblue;
        border-radius: 12px;
        border: solid 1px black;
        background-color: #1D1D1D;
        margin: -200px 230px 150px 250px;
        padding: 10px;
    }

footer {
    background-color: #303030;
    color: white;
}

.ubereats {
    margin-right: 60%;
}

.menu {
    box-shadow: 0 -3px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

    .menu a:link, .menu a:visited {
        text-decoration: none;
        color: #626262;
        padding: 10px;
    }

    .menu a:hover, .menu a.active {
        color: #00AA00;
        padding: 10px;
    }

li {
    list-style-type: none;
    float: left;
    margin: 12px;
}

.divfoot {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-shadow: 0 -3px 10px rgba(192,192,192,0.5);
}

    .divfoot img {
        justify-content: left;
        align-items: start;
    }

.divfoot2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divfoot2 nav {
    flex-direction: row;
}

.container {
    max-width: 1124px;
    width: 1124px;
}

.header__flex {
    display: flex;
    justify-content: space-between;
}

    .header__flex img {
        margin-left: 3%;
        margin-right: 4px;
    }

    .header__flex nav {
        display: flex;
        justify-content: space-between;
    }

        .header__flex nav img {
            margin-left: 23px;
            margin-right: 101px;
        }

.search {
    display: flex;
    justify-content: center;
}

.restor {
    display: flex;
    justify-content: center;
    padding-bottom: 89px;
    font-size: 22px;
    margin-top: 56px;
    margin-bottom: 0;
}

.restor__price {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 1%;
}

.restor__price__elem {
    flex: 308px;
    margin: 36px;
    border: solid 1px lightgrey;
    height: 160px;
    background-color: whitesmoke;
    position: relative;

}

.restor__price__elem p {
    margin: 12px;

}
    .restor__price__elem p:nth-child(2) {
        font-size: 16px;
    }

    .restor__price__elem p:nth-child(3) {
        font-size: 16px;
        color: #1D1D1D;
        font-weight: bold;
        margin-top: 100px;
    }
    .restor__price__elem p:nth-child(4) {
        font-size: 14px;
        color: #626262;
        margin-top: -120px;
    }