.menu6 {list-style-type: none;}
.menu6 li{margin-right: 4px; float: left;}
.menu6 a:link, .menu5 a:visited{
	text-decoration: none;
	color: blue;
	font: 13px Arial;
	padding: 5px;
}
	.menu6 a:hover img, .menu6 a.active img {
		color: rgb(255, 255, 255);
		background-color: rgb(63, 63, 63);
	}

.menu6 a:hover img, .menu6 a.active img{

	filter: grayscale(70%) invert(100%) sepia(100%) saturate(500%) hue-rotate(90deg);
}