ul {
	padding: 0px;
	margin: 0px;
}

.clearfix{
	clear: both;
}
.menu4 a:hover{
font-weight: bold
}
.menu4 {list-style-type: none; width: 200px}
.menu4 li{margin-bottom: 5px;}
.menu4 a:link, .menu4 a:visited{
	text-decoration: none;
	color: white;
	background-color: rgb(0, 132, 255);
	font: 13px Arial;
	border: 1px solid rgb(0, 132, 255);
	display: block;
	padding: 0px 5px;
	line-height: 30px;
}
.menu4 a:hover {
	font-weight: bold;
	color: purple;
	background-color: white;
	background-image: url('plane.png');
	background-size: 10%;
	background-repeat: no-repeat;
	background-position: right;
}