.menu8 {
	list-style-type: none;
}

.menu8 li {
	margin-right: 4px;
	float: left;
}

article {
	border: solid, 1px, orange;
	background: orange;
}

.menu8 a:link, .menu8 a:visited {
	text-decoration: none;
	color: white;
	font: 13px Arial;
	padding: 18px;
}

.menu8 a:hover, .menu8 a.active {
	color: white;
	background-color: red;
}
