article {
	border: dotted 2px darkgrey;
	padding: 80px 20px 0px 10px;
}

img {
	position: absolute;
	top: 15px;
}

.menu7 {list-style-type: none;}
.menu7 li{margin-right: 4px; float: left;}
	.menu7 a:link, .menu7 a:visited {
		text-decoration: none;
		color: black;
		padding: 5px;
		clear: both;
		padding: 15px;
	}
	.menu7 a:hover, .menu7 a.active {
		color: deepskyblue; 
		padding: 15px;
	}

.menu7 a:hover img, .menu7 a.active img{
	filter: grayscale(70%) invert(100%) sepia(100%) saturate(500%) hue-rotate(90deg);
}

.clearfix {
	clear: both;
}