h2 {
    color: rgb(255, 0, 170);
}

a:link, a:visited {
	text-decoration: none;
	color: green;
    font-weight: bold;
}

.more {
    padding: 90%;
    color: rgb(255, 0, 170);
}

p {
    font-family: Tahoma;
    text-indent: 50px;
}