

div {
	border: solid 3px red;
	border-radius: 20px;
	padding: 25px;
}

h1, h2 {
	color: brown;
	font-weight: bold;
}

.red {
	color: red;
}

.green {
	color: green;
}

.author {
    text-align: right;
	font-style: italic;
	font-family: 8pt Arial;
}

.web {
}