
div {
	color: green;
	border: dashed 1px green;
	border-radius: 20px;
	padding: 0px 10px;
}

h1 {
	text-align: center;
}
h2 {
	text-align: center;
	text-decoration: underline;
}

p {
	text-align: end;
}

a:link, .web a:visited {
	color: green;
	text-decoration: underline;
	font-weight: bold;
}